// Borders
$border-radius: 3px;

// Colors
$black: #000;
$white: #fff;
$charcoal: #475168;
$pink: #f361fb;
$purple: #732eb8;
$secondary: #0f0f0f;
$primary: $purple;

// Fonts
$font-color: $black;
$font-family: "Source Sans Pro", sans-serif;
$font-size: 16px;
$font-weight: 400;
